*
{
    margin:0;
    padding:0;
}


/* Utility function */
/* Designing header section*/
#header
{

    background-color: whitesmoke;
    display:flex;
    justify-content: space-between;
    border-radius: 0 50%/100px 0 100px ;
   

}
#loginbutton
{
    margin-top:45px;
    width:120px;
    height:40px;
    border-radius: 15px;
    color: white;
    font-size: 20px;
    background-color: black;
}


/*  Designing navigation section */
#navigationsection
{
    background-color: black;
    padding-bottom: 10px;
    margin-top:2px;
}
#navlist ul
{
    margin-top:6px;
    margin-left:100px;
    

}

.liststyle
{
    display:inline;
   margin:99px 13px 20px 106px;
   
   font-size:30px;
   border-radius:10px;
   padding:4px 4px 4px 4px;
   color:white;
   
   

}
.liststyle a 
{
    color: white;
    text-decoration: none;
    margin-top: 5px;
}

.liststyle a:hover
{
   color: #AD9244;
   font-size: 40px;
}



/* Designing section 1 */
#section1 
{
    width:100vw;
}






/* Designing footer section */
#footerh{
    text-align:center;
    font-family: 'Bebas Neue', cursive;
    font-size:50px;
}

#highways
{
    display:flex;

}
.h5styles
{
    justify-content: center;
    font-size:20px;
    word-spacing: 3px;
    line-height: 30px;
}
.h5styles  hover
{
    color: blue;
}


hr{
    border-top:5px solid #095484;
    margin-top:5px;
    margin-bottom: 5px;
    width:75%;
    margin-left:10%;

}
#bridges
{
    display: flex;
}
#emlusion
{
    display: flex;
}
#metalextraction
{
    display: flex;
}









